/* 

-- RICHTLIJNEN --

Website: 90 viewport width, gecentreerd (!)

Relatieve meeteenheden: vw / vh of %
Absolute meeteenheden: rem (!) geen pixels (buiten bij boxshadow/border radius)!

Secties: Tussen elke sectie 5vh margin onder en bovenaan.

Paragrafen en links: Inter, regular, 1.5 regelafstand
Titels, labels: Rubik, regular
h1: 3rem
h2: 2rem
h3: 1.2rem
Logo: 1.5rem

Colors: 
Background: #f5f5f5
Paars: #6c3fff
wit: #ffffff
*/

body {
    font-family: 'Inter';
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
    background-color: #f5f5f5;
    width: 90vw;
    margin: 0 auto;
}

a {
    font-family: 'Inter';
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
}

p {
    font-family: 'Inter';
    font-size: inherit;
    font-weight: 500;
    line-height: 1.5;
}

h1 {
    font-family: 'Rubik';
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-family: 'Rubik';
    font-size: 2rem;
    font-weight: 800;
}

h3 {
    font-family: 'Rubik';
    font-size: 1.2rem;
    font-weight: 600;
}

.label {
    font-family: 'Rubik';
    font-size: inherit;
    color: #6c3fff
}

#logo {
    font-family: 'Rubik';
    font-size: 1.5rem;
}

section {
    margin-top: 5vh;
    margin-bottom: 5vh;
}

header {
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    font-weight: bold;
    ul {
        display: none;
    }
    span {
        color: #6c3fff;
    }
}

#hero {
    background-image: url(../images/rendier.jpg);
    background-position: center;
    background-size: cover;
    padding: 4rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    h1 {
        padding-right: 3rem;
        line-height: 1;
        margin-bottom: 2rem;
    }
    h1 span {
        color: #6c3fff;
    }
    a{
        text-decoration: none;
        color: #ffffff;
        background-color: #6c3fff;
        padding: 1rem;
        border-radius: 8px;
        display: block;
        margin-top: 2rem;
    }
}

#section2 h2 span {
    color: #6c3fff;
}

#allcards img {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.card {
    background-color:#ffffff;
    box-shadow: 3px 3px 10px hsla(0, 0%, 53%, 0.282);
    border-radius: 20px;
    overflow: hidden;
    margin: 3rem;
}

.card img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.card .content {
    padding: 1rem;
}

.card .content div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card a {
    text-decoration: none;
    background-color:#6c3fff;
    color: #e9e5e1;
    padding: 0.8rem 0.8rem;
    border-radius: 8px;
    font-size: 0.8rem;
}

div p span {
    color: #6c3fff;
}

div p {
    font-weight: bold;
}

#section3 ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    height: 90vh;
}

#section3 li {
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

#foto1{ background-image: url(../images/Foto1.jpg);}
#foto2{ background-image: url(../images/Foto2.jpg);}
#foto3{ background-image: url(../images/Foto3.jpg);}
#foto4{ background-image: url(../images/Foto4.jpg);}

footer {
    background-color: #6c3fff;
    border-radius: 20px;
    padding: 1rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

footer a{
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
}

@media screen and (min-width: 800px) {
    header ul{
        display: flex;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        a {
        text-decoration: none;
        color:black;
        padding: 1rem;
    }
    }

    #hero #content{
        width: 50%;
    }

    #hero a {
        width: fit-content;
    }

    #activiteiten {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    #section3 ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    #foto1{
         background-image: url(../images/Foto1.jpg);
         grid-column: 1;
         grid-row: 1/3;
        }
    #foto2{
         background-image: url(../images/Foto2.jpg);
         grid-column: 2/4;
         grid-row: 1;
        }
    #foto3{ 
        background-image: url(../images/Foto3.jpg);
    }
    #foto4{
         background-image: url(../images/Foto4.jpg);
        }
}

